/* Themify Customize Styling */
h1 {		font-size:68px;
 
}
#headerwrap {	
	padding-top: 5px;
	padding-bottom: 5px; 
}
#header {		font-size:1px;
 
}
body #site-logo a img {		width: 240px;
	height: 47px; 
}
#main-nav a {	
	margin-top: 10%;
	padding-top: 2px;
	padding-right: 26px;
	padding-left: 26px;	font-size:16px;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #e86924; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #e86924; 
}
#footerwrap {	background: none;
	background-color: #000000;background-image: none;
	background-repeat: no-repeat;
	background-position: right bottom; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
#footer a:hover {	
	color: #e86924; 
}
#pagewrap .back-top.back-top-float, .full-section-scrolling #footerwrap .back-top .arrow-up a, .footer-horizontal-left #footerwrap .back-top .arrow-up a, .footer-horizontal-right #footerwrap .back-top .arrow-up a, .footer-left-col #footerwrap .back-top .arrow-up a, .footer-right-col #footerwrap .back-top .arrow-up a, #footer .back-top .arrow-up a {	background: none;
	background-color: #e86924; 
}
#footerwrap .back-top a:before, #pagewrap .back-top.back-top-float {	
	color: #ffffff; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body #site-logo a img {		width: 240px;
	height: 47px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body #site-logo a img {		width: 240px;
	height: 47px; 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #e86924; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #e86924; 
}
#footerwrap {	background: none;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: right bottom; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
#footer a:hover {	
	color: #e86924; 
}
#pagewrap .back-top.back-top-float, .full-section-scrolling #footerwrap .back-top .arrow-up a, .footer-horizontal-left #footerwrap .back-top .arrow-up a, .footer-horizontal-right #footerwrap .back-top .arrow-up a, .footer-left-col #footerwrap .back-top .arrow-up a, .footer-right-col #footerwrap .back-top .arrow-up a, #footer .back-top .arrow-up a {	background: none;
	background-color: #e86924; 
}
#footerwrap .back-top a:before, #pagewrap .back-top.back-top-float {	
	color: #ffffff; 
}
 }