body{
	font-family: 'F37 Ginger Pro';
	font-size: 16px;
}
@font-face {
    font-family: 'F37 Ginger Pro';
    src: url('F37GingerPro-Bold.eot');
    src: url('F37GingerPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('F37GingerPro-Bold.woff2') format('woff2'),
	url('F37GingerPro-Bold.woff') format('woff'),
	url('F37GingerPro-Bold.ttf') format('truetype'),
	url('F37GingerPro-Bold.svg#F37GingerPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F37 Ginger Pro';
    src: url('F37GingerPro-Light.eot');
    src: url('F37GingerPro-Light.eot?#iefix') format('embedded-opentype'),
	url('F37GingerPro-Light.woff2') format('woff2'),
	url('F37GingerPro-Light.woff') format('woff'),
	url('F37GingerPro-Light.ttf') format('truetype'),
	url('F37GingerPro-Light.svg#F37GingerPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F37 Ginger Pro';
    src: url('F37GingerPro-Regular.eot');
    src: url('F37GingerPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('F37GingerPro-Regular.woff2') format('woff2'),
	url('F37GingerPro-Regular.woff') format('woff'),
	url('F37GingerPro-Regular.ttf') format('truetype'),
	url('F37GingerPro-Regular.svg#F37GingerPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.form-email-banner .ip-email {
    width: 316px;
    height: 43px;
    border-radius: 21.5px;
    border: solid 1px #fff;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.03px;
    font-family: 'F37 Ginger Pro';
    background: transparent;
	margin-bottom: 1.5rem;
}
.btn-watch:hover {
    background: #e86924 !important;
    color: #fff;
}
.btn-watch {
    background: linear-gradient(to left, #f3891f, #f3861f, #f76b1c);
    padding: 11px 27px 8px;
    border: none;
    border-radius: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: none;
}
.btn-about{
	color: white;
	font-size: 16px;
	text-transform: normal;
	color: #fff;
    font-size: 16px;
    display: block;
}
.btn-about a{
    border: solid 0.5px #fefefe;
	
}
.feature-making img {
    float: left;
    border-radius: 5px;
    margin-bottom: 10px;
}

h3.title-intro {
    color: #fff;
    font-size: 33px;
    display: inline-block;
    float: left;
    font-weight: 400;
}
.container .name-input, .container .email-input{
	width: 33%;
	height: 43px;
	border-radius: 21.5px;
    border: solid 1px #fff;
    font-size: 16px;
    letter-spacing: 0.03px;
    color: #fff;
    padding: 0 20px;
    background: transparent;
    float: left;
}
.container .watching-btn{
	width: 24%;
	height: 43px;
	float: left;
	border-radius: 21.5px;
    padding: 10px 20px 10px;
    line-height: 100%;
    color: #e86924;
    font-size: 16px;
    background-color: #fff;
    font-weight: 700;
    margin-left: 10px;
    border: none;
}
.container .watching-btn:hover{
	color: #fff;
	background-color: #e86924;
}
.transparent-header #headerwrap.fixed-header{
	background-color: black;
}
#menu-footer-widget-menu li{
	display: inline-block;
    width: 22%;
    padding-right: 20px;
    letter-spacing: 0;
    margin-bottom: 4px;
	text-align: left;
}

#menu-footer-widget-menu li a{
	font-size: 12px;
    color: #fefefe;
}

.footer-widgets .widgettitle{
	font-size: 12px;
    color: #fefefe;
    margin-bottom: 11px;
    padding-left: 66px;
	text-transform: none;
	text-align: left;
	margin-left: 18%;
}
.widgettitle:after{
	border-top: none;
	    

}
.widgettitle{
	text-transform: none;
}
#footer{
	padding: 4px 0 2em;
}

.btn-public .builder_button {
	color: #fff;
    font-size: 16px;
    padding: 8px 27px;
    display: block;
    border-radius: 22px;
    border: solid 0.5px #fefefe;
    background-color: transparent;
    font-weight: 300;
    text-transform: none;
}
.module.module-buttons a.tb_default_color{
	background-color: inherit;
}
.btn-public .tb_default_color:hover {
	background-color: inherit;
}


.module.module-buttons.btn-download .builder_button {
	color: #000;
    font-size: 16px;
    padding: 8px 27px;
    display: block;
    border-radius: 22px;
    border: solid 0.5px #000;
    background-color: transparent;
    font-weight: 400;
    text-transform: none;
}
.btn-download .tb_default_color:hover {
	background-color: inherit;
}
.ui.builder_button{
	box-shadow: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}


.accordion-wrapper {
  border: 1px solid #414951;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px 0 28px 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 0px!important;
}
.home-faq {
	text-align: center;
}
.home-faq h3{
	color: #e86924 !important;
    font-weight: 400 !important;
	text-align: left;
}
.accordion-wrapper button.active {
    border-color: #e86924;
    padding-bottom: 10px;
}
.accordion-wrapper button{
	width: 100%;
	display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    background-color: #171717;
	text-transform: none;
    box-shadow: none;
	padding: 0;
	text-align: left;
}


.accordion-wrapper button:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-wrapper button.active:after {
  content: "\2212";
  float: right;
  color: #e86924;
  border-color: #e86924;
}

#main-nav-wrap #main-nav .menu-item a {
    padding-left: 26px;
    padding-right: 26px;
}


.page-title{
	display: none;
}
.sma-description-page {
    margin-top: 20px;
}
.sma-title-page h1{
	font-size: 36px;
    color: #e86924 !important;
    letter-spacing: -1.44px;
    font-weight: 400;
    line-height: normal;
}
.sma-description-page p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
}
.sma-date-page{
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
}

.btn-ticket {
    margin-top: 5px;
    margin-bottom: 15px;
}
.it-description-page div.middle{
    border-bottom: 0.3px solid #fefefe;
}
#pagewrap #headerwrap, #headerwrap.fixed-header{
	background: black;
	color: white;
	padding-top: 8px;
	padding-bottom: 5px;
}
.navbar-wrapper{
	margin-top: 10px;
}
.btn-ticket a {
    padding: 10px 23px 7px;
    font-weight: 700;
}
.btn-ticket span{
	font-weight: 500;
}
.sma-description-page .tb_text_wrap h3 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.3;
}
#slide-cart .button:hover, .woocommerce ul.products li.product .button:hover, .woocommerce a.button.alt.disabled:hover, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled]:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, input[type=reset]:hover, input[type=submit]:hover, button[type=submit]:hover, .ui.builder_button:hover, #slide-cart .button, .woocommerce ul.products li.product .button, .woocommerce a.button.disabled, .woocommerce button.button.disabled, .woocommerce button.button.alt.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, input[type=reset], input[type=submit], button[type=submit], .builder_button{
	background-color: transparent;
	box-shadow: none;
}
.intro{
	border-color: #e86924;
}
input[type=reset], input[type=submit], button{
	background-color: transparent;
}
#main-nav li.btn-signup {
	color: #fff;
    border-radius: 18px;
    border: solid 0.5px #fefefe;
}
.home-film .tf_rel{
	padding: 0;
	margin: 0;
}
.discover-film {
	margin: auto;
    padding-left: 3%;
}
.module.module-buttons .tb_default_color:hover {
    background-color: transparent;
    color: #000;
}

#page-427 form label{
	color: #fff;
	font-weight: 300;
}
input#form-submit{
	background-color: white;
    color: #e86924;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: 400;
}
.terms-wrapper p{
	color: #000;
}
.movie-wrapper p, .movie-wrapper li, .movie-wrapper h2, .movie-wrapper a{
	color: #fff;
}
.ui.builder_button{
	transition: none;
}
div.team-img img{
	margin: auto;
	position: absolute;
}
.txt-while{
	color: #fff;
}

.post-nav .arrow, .post-title a:hover, a {
    color: #e86924;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #e86924;
	color: #fff;
}
/*Tân*/
.random-number-quiz label {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.random-number-quiz label span {
    width: 30%;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.random-number-quiz label input {
    width: 70%;
    margin: 0;
}

.video-container .mute-button {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.video-container .mute-button.muted .bi-volume-mute-fill,
.video-container .mute-button:not(.muted) .bi-volume-up-fill {
    display: inline-block;
}

.video-container .mute-button svg {
    width: 30px;
    height: 30px;
    display: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.master-slider .ms-container .ms-inner-controls-cont {
    position: relative;
}

.master-slider .ms-container .ms-inner-controls-cont .ms-nav-prev,
.master-slider .ms-container .ms-inner-controls-cont .ms-nav-next {
    position: absolute;
    top: 108%;
}

.master-slider .ms-container .ms-inner-controls-cont .ms-bullets {
    display: none;
}
.subheading{
	color: #fff;
}
.btn-public .builder_button:hover {
    background-color: transparent;
}

.btn-download .builder_button:hover {
    background-color: #f2f2f2 !important;
    border: 1px solid #f2f2f2 !important;
}

.accordion-wrapper button.active {
    border-bottom: 1px solid #414951;
    border-radius: 0;
    padding-bottom: 10px;
}

.accordion-wrapper button.active:after {
    content: "\2716";
    float: right;
    color: #e86924;
    border-color: #e86924;
}

#main-nav>li.btn-signup>a:hover {
    color: #fff !important;
    background-color: transparent;
    font-weight: bold;
}

.btn-ticket a span {
    color: #fff;
}

.btn-watch:hover {
    background: #e86924 !important;
    color: #fff;
    transform: translateY(0) !important;
}

.btn-about a.btn-link {
    border: solid 0.5px #fefefe;
    font-size: 16px;
    color: #fff;
    display: block;
    border-radius: 22px;
    padding: 9px 42px;
    width: 15%;
    text-align: center;
}

.btn-about a.btn-link:hover {
    text-decoration: none;
    font-weight: bold;
}

button[type=submit] {
    transition: none;
}

button[type=submit]:hover {
    transform: translateY(0);
}

.btn-public .builder_button span:hover {
    color: #fff;
    font-weight: bold;
}

.ui.builder_button:hover {
    transform: translateY(0);
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .heading1 {
        font-size: 65px;
    }
    #banner-video {
        width: 100%;
    }
    .btn-about a.btn-link {
        width: 20%;
    }
    .heading2 {
        font-size: 50px;
    }
    .heading3 {
        font-size: 45px !important;
    }
    .container .name-input,
    .container .email-input {
        font-size: 13px;
    }
    .container .watching-btn {
        padding: 5px 10px;
        font-size: 10px;
    }
    .image img {
        width: 90%;
    }
    .heading4 {
        font-size: 55px !important;
    }
    .random-number-quiz label span {
        width: 50%;
        font-size: 22px;
    }
    .random-number-quiz label input {
        width: 100%;
        margin: 0;
    }
    #menu-footer-widget-menu li {
        line-height: 1;
    }
    #menu-footer-widget-menu li a {
        font-size: 10px;
    }
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-prev,
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-next {
        position: absolute;
        top: 110%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .heading1 {
        font-size: 50px !important;
    }
    #banner-video {
        width: 100%;
    }
    .btn-about a.btn-link {
        width: 20%;
    }
    .heading2 {
        font-size: 40px;
    }
    .heading3 {
        font-size: 40px;
    }
    .container .name-input,
    .container .email-input {
        font-size: 13px;
    }
    .container .watching-btn {
        padding: 5px 10px;
        font-size: 10px;
    }
    .heading4 {
        font-size: 55px !important;
    }
    .subheading {
        font-size: 22px;
    }
    .random-number-quiz label span {
        width: 50%;
        font-size: 18px;
    }
    .random-number-quiz label input {
        width: 100%;
        height: 40px;
        margin: 0;
    }
    #menu-footer-widget-menu li {
        line-height: 1;
    }
    #menu-footer-widget-menu li a {
        font-size: 8px;
    }
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-prev,
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-next {
        position: absolute;
        top: 112%;
    }
}

/*Thạnh*/

.home-film .tf_rel{
	padding: 0;
	margin: 0;
}
.discover-film {
	margin: auto;
    padding-left: 3%;
}
h2.text-uppercase {
    font-size: 68px;
}

@media screen and (max-width: 576px) {
	.module-text.sma-description-page p{
		font-size: 18px !important;
	}
	.master-slider .ms-thumb-list .ms-thumbs-cont .ms-thumb-frame {
    width: 115px !important;
    height: 65px !important;
    margin-right: 10px !important;
    }
	.random-number-quiz label span {
        width: 50%;
        font-size: 11px;
    }
    .random-number-quiz label input {
        width: 100%;
        height: 40px;
        margin: 0;
    }
    .subheading {
        font-size: 20px;
    }
    .btn-about a.btn-link {
        width: 20%;
        margin-bottom: 5%;
    }
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-prev,
    .master-slider .ms-container .ms-inner-controls-cont .ms-nav-next {
        position: absolute;
        top: 128%;
    }
	.btn-about a.btn-link {
        width: 20%;
		margin-bottom: 5%;
    }
    .text-uppercase-mobile .tb_text_wrap .text-uppercase {
        font-size: 36px!important;
        text-align: left;
    }
    .description-making h1 {
        font-size: 25px;
    }
    .availabel-description h1 {
        font-size: 25px;
    }
    .container.form-email-banner {
        margin: 15px 0 15px;
    }
    .marking {
        padding-top: 20px!important;
        padding-bottom: 30px!important;
    }
    
    .faq-hide-mobile {
        display: none;
    }
    .sub_column.module_column.tf_box.col3-1.middle.tb_4874412#headerwrap #main-nav a {
        width: 100%!important;
    }
    .home-faq h3 {
        font-size: 32px;
    }
    .discover-description {
        float: none;
        text-align: center;
        width: 100%;
    }
    .discover-description .tb_text_wrap .text-uppercase {
        font-size: 25px;
    }
    .container .name-input,
    .container .email-input {
        width: 100%!important;
        margin: 10px 0 30px;
    }
    .container .watching-btn {
		width: 100%
		margin-left: 0;
	}
    .discover-feature {
        position: relative;
    }
    .img-film-discover img {
        max-width: 100%;
    }
    .discover-film .tb-column-inner {
        margin: auto!important;
    }
    .home-film {
        width: 100%;
    }
    .row_inner.col_align_top.column-full.direction-rtl.tf_box.tf_w.tf_rel.tb_grid_classes.col-count-2 {
        max-width: 100%;
        margin: auto;
    }
    .row_inner.col_align_top.column-full.direction-rtl.tf_box.tf_w.tf_rel.tb_grid_classes.col-count-2 h2 {
        font-size: 48px;
        text-align: left;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .discover-film.button-start-wc.tf_box {
        padding-left: 0;
    }
    img.wp-post-image.wp-image-41 {
        display: none;
    }
    .module.module-buttons.tb_1pss768.buttons-horizontal.solid.btn-public {
        margin-left: 20px;
    }
    .form-email-banner input.ip-email,
    .form-email-banner input.btn-watch {
        width: 100%!important;
    }
    .sub_column.module_column.tf_box.col2-1.first.tb_ubl5798.discover-film {
        padding: 0;
    }
    / Style Header CSS  /
    .btn-about a.btn-link {
        width: 30%;
        text-align: center;
    }
    .header-bar #site-logo img {
        float: left;
    }
    .header-icons #menu-icon {
        margin: 15px 0 0px 10px!important;
    }
    .mobile-menu-visible #mobile-menu.sidemenu {
        height: 215px;
        padding-top: 0;
        padding-bottom: 0;
        background: #171717;
    }
    .sub_column.module_column.tf_box.col3-1.middle.tb_4874412.fixed-requently {
        width: 100%!important;
    }
    .transparent-header #menu-icon-close {
        color: white;
    }
    #main-nav li.btn-signup {
        padding: 0 40px;
        display: inline-block!important;
        width: auto;
    }
	 #main-nav > li.btn-signup > a
	{
        margin: 0!important;
    }
	.site .fixed-header #header {
		padding-top: 0;
		padding-bottom: 0;
	}
    #headerwrap #main-nav a {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #ffffff;
		
    }
	.header-icons #header {
		padding: 0;
	}
    #pagewrap #headerwrap,
    #headerwrap.fixed-header {
		padding: 0;
        background: #171717;
    }
	.header-horizontal #site-logo {
		margin-top: 0;
	}
	.header-bar #site-logo {
		margin: 0;
	}
    / Style CSS Footer /
    #footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .widgettitle {
        display: none;
    }
    .footer-widgets-wrap .footer-widgets .clearfix {
        display: flex!important;
        flex-direction: row-reverse!important;
    }
    .footer-text.tf_clear.clearfix {
        padding: 0;
    }
    .hide-none {
        display: none;
    }
	
    #menu-footer-widget-menu li {
        text-align: left;
        padding: 0;
        margin: 0;
		width: 42%;
    }
    .footer-widgets-wrap .footer-widgets #nav_menu-1003 {
        padding: 0;
        margin: 0!important;
        
    }
    .social-links .social-link-item {
        margin: 0 5px;

    }
    .widget .social-links {
        margin-bottom: 10px;
    }
    .footer-widgets {
        display: grid;
    }
	.menu-footer-widget-menu {
		display:flex;
		width: 50%;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
	}
    .col3-1.first.tf_box.tf_float {
        order: 3;
    }
    .col3-1.tf_box.tf_float {
        order: 1;
    }
    #themify-social-links-2 {
        margin: 0!important;
    }
    div#text-2 {
        display: none;
    }
	
}
#main-nav a:hover, #main-nav ul a:hover, #main-nav .mega-menu-posts a:hover, #main-nav .current_page_item>a, #main-nav .current-menu-item>a{
	color: #e86924;
}
.wpcf7 form .wpcf7-response-output{
	color: #fff !important;
}
.wpcf7-response-output {
    color: #fff;
    border-color: #e86924;
}
.wpcf7 form.sent .wpcf7-response-output{
	border-color: #e86924 !important;
}
a:focus{
	outline: none !important;
}

#page-511 .module-image .image-wrap{
	    margin-bottom: 0 !important;
}

 #main-nav>li.btn-signup>a
	{
    padding-right: 15px !important;
    padding-left: 15px !important;
    }