/* Generated from page: contact-discover-film */
.themify_builder_content-427 .tb_ebd0280.module_row{padding:10%;background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-427 .tb_ebd0280.module_row,.themify_builder_content-427 .tb_ebd0280.module_row p,.themify_builder_content-427 .tb_ebd0280.module_row h1,.themify_builder_content-427 .tb_ebd0280.module_row h2,.themify_builder_content-427 .tb_ebd0280.module_row h3:not(.module-title),.themify_builder_content-427 .tb_ebd0280.module_row h4,.themify_builder_content-427 .tb_ebd0280.module_row h5,.themify_builder_content-427 .tb_ebd0280.module_row h6{color:rgba(0, 0, 0, 1);}
.themify_builder_content-427 .tb_96n2280.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}

@media screen and (max-width:680px){
.themify_builder_content-427 .tb_ebd0280.module_row{padding:7%;}
}/*Builder Custom CSS START*/
.sma-title-page h1{
color: green;
}

.navbar-wrapper { 
	margin-top: 0 
}

#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}

#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}
/*Builder Custom CSS END*/