/* Generated from page: film-festival */
.themify_builder_content-326 .tb_f2e7452.module_row{padding-top:86px;background-color:rgba(23, 23, 23, 1);padding-bottom:57px;}
.themify_builder_content-326 .tb_assh888.module-buttons{margin-top:35px;margin-bottom:0px;}
.themify_builder_content-326 .tb_zeyk613.module-text{margin-top:51px;margin-bottom:0px;}
.themify_builder_content-326 .tb_zjcy260.module_row{padding-top:0px;background-color:rgba(23, 23, 23, 1);padding-bottom:99px;}
.themify_builder_content-326 .tb_x5gf263.module_column:hover{padding-top:0px;}
.themify_builder_content-326 .tb_2p9k263.module-text{padding-top:0px;}
.themify_builder_content-326 .tb_3ft4452.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding-top:5%;padding-bottom:5%;}

@media screen and (max-width:680px){
.themify_builder_content-326 .tb_f2e7452.module_row{padding-bottom:0px;padding-top:36px;}
.themify_builder_content-326 .tb_assh888.module-buttons{margin-bottom:0px;margin-top:26px;}
.themify_builder_content-326 .tb_zeyk613.module-text{margin-bottom:0px;margin-top:24px;}
.themify_builder_content-326 .tb_i1bg458.module-text{mix-blend-mode:normal;}
.themify_builder_content-326 .tb_zjcy260.module_row{margin-top:0px;padding-bottom:25px;padding-top:0px;}
.themify_builder_content-326 .tb_2p9k263.module-text{margin-top:37px;padding-top:0px;}
.themify_builder_content-326 .tb_gzuj267.module-text{margin-top:24px;}
}/*Builder Custom CSS START*/
.navbar-wrapper { 
	margin-top: 0 
}

.btn-about a.btn-link {
	display: inline;
	width: 100%;
	padding: 9px 42px;
}

#mobile-menu {
   padding: 10px 0;
}

#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}

#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}

.tb_5tk9455 .sma-description-page p {
    margin-bottom: 40px;
}

.footer-right-wrap .footer-text {
    padding: 0;
}
/*Builder Custom CSS END*/