/* Generated from page: portfolio */
.themify_builder_content-9 .tb_g1ur950.module_row{padding-bottom:4%;padding-top:6%;background-position:left top;background-attachment:scroll;background-repeat:no-repeat;background-image:url(https://themify.me/demo/themes/ultra-agency3/files/2019/07/bg-banner-hero-top-blue.png);}
.themify_builder_content-9 .tb_8jw0733.module-text{margin-bottom:25px;}
.themify_builder_content-9 .tb_oqw4744.module-fancy-heading{margin-bottom:5%;}
.themify_builder_content-9 .tb_oyon680.module_subrow{padding-bottom:28px;}

@media screen and (max-width:1280px){
.themify_builder_content-9 .tb_g1ur950.module_row{padding-top:12%;padding-bottom:8%;}
.themify_builder_content-9 .tb_oyon680.module_subrow{padding-bottom:40px;}
}
@media screen and (max-width:768px){
.themify_builder_content-9 .tb_g1ur950.module_row{padding-top:15%;}
}
@media screen and (max-width:680px){
.themify_builder_content-9 .tb_g1ur950.module_row{padding-top:20%;padding-bottom:15%;}
}