/* Generated from page: home */
.themify_builder_content-8 .tb_tmqz701.module_row{background-color:rgba(0, 0, 0, 1);padding-top:110.06px;}
.themify_builder_content-8 .tb_c784904.module-text{margin-bottom:15px;}
.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_j4nk28.module-plain-text{margin-bottom:16px;margin-top:73px;}
.themify_builder_content-8 .tb_ubl5798.module_column{padding-left:30px;}
.themify_builder_content-8 .tb_9712243.module_row{background-color:rgba(23, 23, 23, 1);padding-top:135px;padding-bottom:135px;}
.themify_builder_content-8 .tb_bav2245.module_column{padding-left:74px;padding-top:80px;margin-bottom:0px;margin-top:0px;}
.themify_builder_content-8 .tb_beqm245.module-text{margin-bottom:0px;}
.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_beqm245.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_20dc33.module_row{background-color:rgba(255, 255, 255, 1);padding-top:139px;padding-bottom:151px;}
.themify_builder_content-8 .tb_82kr34.module_column{margin-top:0px;padding-top:83px;padding-left:0px;}
.themify_builder_content-8 .tb_t7ch190.module-text{margin-bottom:0px;}
.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_t7ch190.module-text .tb_text_wrap span{color:rgba(232, 105, 36, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_uj4l967.module_row{background-color:rgba(0, 0, 0, 1);padding-top:71px;padding-bottom:89px;}
.themify_builder_content-8 .tb_8ib2945.module_row{background-color:rgba(23, 23, 23, 1);padding-top:135px;padding-bottom:135px;}
.themify_builder_content-8 .tb_frm7449.module-text{margin-bottom:15px;}
.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_frm7449.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_kslj352.module_row{padding-bottom:55px;padding-top:70px;background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 97%,rgb(243, 134, 31) 99%,rgb(243, 134, 31) 99%,rgb(243, 134, 31) 99%,rgb(242, 101, 65) 99%,rgb(243, 134, 31) 99%);}
.themify_builder_content-8 .tb_7zax247.module-text{margin-bottom:15px;}
.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_7zax247.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_rb0b672.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-8 .tb_mal9674.module_column{background-position:0% 0%;background-attachment:scroll;background-repeat:no-repeat;background-position:center center;background-size:contain;background-image:url(http://discover.iqdesk.info/film-new2021/wp-content/uploads/2020/12/img-21.jpg);}
.themify_builder_content-8 .tb_oikx325.module-image{background-image:url(http://discover.iqdesk.info/film-new2021/wp-content/uploads/2020/12/img-21.jpg);background-repeat:no-repeat;background-position:50% 50%;mix-blend-mode:normal;}
.themify_builder_content-8 .tb_p3cu675.module_column{padding-left:0px;padding-bottom:0px;padding-right:0px;padding-top:0px;}
.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_pn8z658.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_pn8z658.module-text{background-color:rgba(23, 23, 23, 1);background-image:none;padding-bottom:1px;margin-bottom:6px;padding-left:10px;}

@media screen and (max-width:680px){
.themify_builder_content-8 .tb_tmqz701.module_row{padding-bottom:0px;padding-top:126px;}
.themify_builder_content-8 .tb_c784904.module-text{font-size:36px;}
.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap p,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap blockquote,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h1,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h2,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h3,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h4,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h5,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap h6,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap li,.themify_builder_content-8 .tb_c784904.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-8 .tb_j4nk28.module-plain-text{margin-bottom:16px;margin-top:30px;}
.themify_builder_content-8 .tb_9712243.module_row{padding-bottom:40px;padding-top:43px;}
.themify_builder_content-8 .tb_bav2245.module_column{padding-left:0px;padding-top:0px;margin-bottom:71px;margin-top:0px;}
.themify_builder_content-8 .tb_beqm245.module-text{margin-bottom:28px;}
.themify_builder_content-8 .tb_20dc33.module_row{padding-bottom:59px;padding-top:50px;}
.themify_builder_content-8 .tb_82kr34.module_column{padding-left:0px;padding-top:0px;}
.themify_builder_content-8 .tb_d7zt113.module-buttons{margin-bottom:20px;}
.themify_builder_content-8 .tb_uj4l967.module_row{padding-bottom:44px;padding-top:33px;}
.themify_builder_content-8 .tb_8ib2945.module_row{background-color:rgba(23, 23, 23, 1);padding-bottom:50px;padding-top:59px;}
.themify_builder_content-8 .tb_kslj352.module_row{padding-bottom:36px;padding-top:36px;}
.themify_builder_content-8 .tb_7zax247.module-text{margin-bottom:15px;}
.themify_builder_content-8 .tb_rb0b672.module_row{padding-bottom:0px;padding-top:0px;}
.themify_builder_content-8 .tb_oikx325.module-image{min-height:350px;background-image:url(http://discover.iqdesk.info/film-new2021/wp-content/uploads/2020/12/img-21.jpg);background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
.themify_builder_content-8 .tb_p3cu675.module_column{padding-bottom:50px;padding-top:42px;}
}/*Builder Custom CSS START*/
.btn-about a.btn.btn-link {
    display: inline;
    width: 100%;
    padding: 8px 42px;
}

.navbar-wrapper { 
	margin-top: 0 
}
#mobile-menu {
   padding: 10px 0;
}
#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}
#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}

.themify_builder_content-8 .tb_r1al246.module-plain-text {
    padding: 0;
}

.accordion-wrapper .panel {
    padding-top: 0px;
}

.panel p {
    margin: 10px 0;
}
.footer-right-wrap .footer-text {
    padding: 0;
}
.img-film-discover {
    background-size: cover;
    backround-repeat:no-repeat;
}
.module-image.image-overlay .image-wrap img {
    height: 390px;
}
/*Builder Custom CSS END*/