/* Generated from page: movie-apps */
.themify_builder_content-630 .tb_zml9401.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-630 .tb_uhb7402.module_column{padding-bottom:113px;padding-top:86px;}
.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap p,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap blockquote,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h1,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h2,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h3,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h4,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h5,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap h6,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap li,.themify_builder_content-630 .tb_shsx404.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-630 .tb_shsx404.module-text{margin-top:31px;}
.themify_builder_content-630 .tb_h7pr401.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}

@media screen and (max-width:680px){
.themify_builder_content-630 .tb_zml9401.module_row{padding-bottom:35px;padding-top:35px;}
.themify_builder_content-630 .tb_uhb7402.module_column{padding-bottom:0px;padding-top:0px;}
.themify_builder_content-630 .tb_shsx404.module-text{margin-top:24px;}
.themify_builder_content-630 .tb_7wqi407.module-plain-text{width:100%;}
}/*Builder Custom CSS START*/
.navbar-wrapper { 
	margin-top: 0 
}

.btn-about a.btn-link {
	display: inline;
	width: 100%;
	padding: 9px 42px;
}
#mobile-menu {
   padding: 10px 0;
}
#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}
#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}
.footer-right-wrap .footer-text {
    padding: 0;
}
/*Builder Custom CSS END*/