/* Generated from page: terms-of-service */
.themify_builder_content-446 .tb_0fq6433.module_row{padding:6%;background-color:rgba(255, 255, 255, 1);}
.themify_builder_content-446 .tb_271m433.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}
