/* Generated from page: news */
.themify_builder_content-511 .tb_b3nv157.module_row{background-color:rgba(23, 23, 23, 1);padding-bottom:1%;padding-top:5%;}
.themify_builder_content-511 .tb_b3nv157.module_row,.themify_builder_content-511 .tb_b3nv157.module_row p,.themify_builder_content-511 .tb_b3nv157.module_row h1,.themify_builder_content-511 .tb_b3nv157.module_row h2,.themify_builder_content-511 .tb_b3nv157.module_row h3:not(.module-title),.themify_builder_content-511 .tb_b3nv157.module_row h4,.themify_builder_content-511 .tb_b3nv157.module_row h5,.themify_builder_content-511 .tb_b3nv157.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_meal556.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;}
.themify_builder_content-511 .tb_meal556.module_row,.themify_builder_content-511 .tb_meal556.module_row p,.themify_builder_content-511 .tb_meal556.module_row h1,.themify_builder_content-511 .tb_meal556.module_row h2,.themify_builder_content-511 .tb_meal556.module_row h3:not(.module-title),.themify_builder_content-511 .tb_meal556.module_row h4,.themify_builder_content-511 .tb_meal556.module_row h5,.themify_builder_content-511 .tb_meal556.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_ppqq102.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_ei7m802.module_row{background-color:rgba(23, 23, 23, 1);padding:1%;}
.themify_builder_content-511 .tb_ei7m802.module_row,.themify_builder_content-511 .tb_ei7m802.module_row p,.themify_builder_content-511 .tb_ei7m802.module_row h1,.themify_builder_content-511 .tb_ei7m802.module_row h2,.themify_builder_content-511 .tb_ei7m802.module_row h3:not(.module-title),.themify_builder_content-511 .tb_ei7m802.module_row h4,.themify_builder_content-511 .tb_ei7m802.module_row h5,.themify_builder_content-511 .tb_ei7m802.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_o9p3560.module-image{margin-top:10px;mix-blend-mode:normal;}
.themify_builder_content-511 .tb_uwr0885.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_actk915.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_actk915.module_row,.themify_builder_content-511 .tb_actk915.module_row p,.themify_builder_content-511 .tb_actk915.module_row h1,.themify_builder_content-511 .tb_actk915.module_row h2,.themify_builder_content-511 .tb_actk915.module_row h3:not(.module-title),.themify_builder_content-511 .tb_actk915.module_row h4,.themify_builder_content-511 .tb_actk915.module_row h5,.themify_builder_content-511 .tb_actk915.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_5tnr805.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_20bg722.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_mjqc370.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_mjqc370.module_row,.themify_builder_content-511 .tb_mjqc370.module_row p,.themify_builder_content-511 .tb_mjqc370.module_row h1,.themify_builder_content-511 .tb_mjqc370.module_row h2,.themify_builder_content-511 .tb_mjqc370.module_row h3:not(.module-title),.themify_builder_content-511 .tb_mjqc370.module_row h4,.themify_builder_content-511 .tb_mjqc370.module_row h5,.themify_builder_content-511 .tb_mjqc370.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_b57o917.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_8749945.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_ttpl944.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_ttpl944.module_row,.themify_builder_content-511 .tb_ttpl944.module_row p,.themify_builder_content-511 .tb_ttpl944.module_row h1,.themify_builder_content-511 .tb_ttpl944.module_row h2,.themify_builder_content-511 .tb_ttpl944.module_row h3:not(.module-title),.themify_builder_content-511 .tb_ttpl944.module_row h4,.themify_builder_content-511 .tb_ttpl944.module_row h5,.themify_builder_content-511 .tb_ttpl944.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_72pk372.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_cwhx949.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_7jal334.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_7jal334.module_row,.themify_builder_content-511 .tb_7jal334.module_row p,.themify_builder_content-511 .tb_7jal334.module_row h1,.themify_builder_content-511 .tb_7jal334.module_row h2,.themify_builder_content-511 .tb_7jal334.module_row h3:not(.module-title),.themify_builder_content-511 .tb_7jal334.module_row h4,.themify_builder_content-511 .tb_7jal334.module_row h5,.themify_builder_content-511 .tb_7jal334.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_m983948.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_0qvq337.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_ex67614.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_ex67614.module_row,.themify_builder_content-511 .tb_ex67614.module_row p,.themify_builder_content-511 .tb_ex67614.module_row h1,.themify_builder_content-511 .tb_ex67614.module_row h2,.themify_builder_content-511 .tb_ex67614.module_row h3:not(.module-title),.themify_builder_content-511 .tb_ex67614.module_row h4,.themify_builder_content-511 .tb_ex67614.module_row h5,.themify_builder_content-511 .tb_ex67614.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_t6hk336.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_wre0616.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_5eba240.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_5eba240.module_row,.themify_builder_content-511 .tb_5eba240.module_row p,.themify_builder_content-511 .tb_5eba240.module_row h1,.themify_builder_content-511 .tb_5eba240.module_row h2,.themify_builder_content-511 .tb_5eba240.module_row h3:not(.module-title),.themify_builder_content-511 .tb_5eba240.module_row h4,.themify_builder_content-511 .tb_5eba240.module_row h5,.themify_builder_content-511 .tb_5eba240.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_3xe1616.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_a2jr244.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_iuu8246.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_iuu8246.module_row,.themify_builder_content-511 .tb_iuu8246.module_row p,.themify_builder_content-511 .tb_iuu8246.module_row h1,.themify_builder_content-511 .tb_iuu8246.module_row h2,.themify_builder_content-511 .tb_iuu8246.module_row h3:not(.module-title),.themify_builder_content-511 .tb_iuu8246.module_row h4,.themify_builder_content-511 .tb_iuu8246.module_row h5,.themify_builder_content-511 .tb_iuu8246.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_hfdo244.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_wx31248.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_66cb272.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_66cb272.module_row,.themify_builder_content-511 .tb_66cb272.module_row p,.themify_builder_content-511 .tb_66cb272.module_row h1,.themify_builder_content-511 .tb_66cb272.module_row h2,.themify_builder_content-511 .tb_66cb272.module_row h3:not(.module-title),.themify_builder_content-511 .tb_66cb272.module_row h4,.themify_builder_content-511 .tb_66cb272.module_row h5,.themify_builder_content-511 .tb_66cb272.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_d68d248.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_ixeg274.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_5j64563.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_5j64563.module_row,.themify_builder_content-511 .tb_5j64563.module_row p,.themify_builder_content-511 .tb_5j64563.module_row h1,.themify_builder_content-511 .tb_5j64563.module_row h2,.themify_builder_content-511 .tb_5j64563.module_row h3:not(.module-title),.themify_builder_content-511 .tb_5j64563.module_row h4,.themify_builder_content-511 .tb_5j64563.module_row h5,.themify_builder_content-511 .tb_5j64563.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_gmxa274.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_h6y9565.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_k4ic256.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_k4ic256.module_row,.themify_builder_content-511 .tb_k4ic256.module_row p,.themify_builder_content-511 .tb_k4ic256.module_row h1,.themify_builder_content-511 .tb_k4ic256.module_row h2,.themify_builder_content-511 .tb_k4ic256.module_row h3:not(.module-title),.themify_builder_content-511 .tb_k4ic256.module_row h4,.themify_builder_content-511 .tb_k4ic256.module_row h5,.themify_builder_content-511 .tb_k4ic256.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_fg84564.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_im0o258.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_j5rf65.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_j5rf65.module_row,.themify_builder_content-511 .tb_j5rf65.module_row p,.themify_builder_content-511 .tb_j5rf65.module_row h1,.themify_builder_content-511 .tb_j5rf65.module_row h2,.themify_builder_content-511 .tb_j5rf65.module_row h3:not(.module-title),.themify_builder_content-511 .tb_j5rf65.module_row h4,.themify_builder_content-511 .tb_j5rf65.module_row h5,.themify_builder_content-511 .tb_j5rf65.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_3yym258.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_5lec67.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_bhbu157.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_bhbu157.module_row,.themify_builder_content-511 .tb_bhbu157.module_row p,.themify_builder_content-511 .tb_bhbu157.module_row h1,.themify_builder_content-511 .tb_bhbu157.module_row h2,.themify_builder_content-511 .tb_bhbu157.module_row h3:not(.module-title),.themify_builder_content-511 .tb_bhbu157.module_row h4,.themify_builder_content-511 .tb_bhbu157.module_row h5,.themify_builder_content-511 .tb_bhbu157.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_momz66.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_ytxq158.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_gduk253.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_gduk253.module_row,.themify_builder_content-511 .tb_gduk253.module_row p,.themify_builder_content-511 .tb_gduk253.module_row h1,.themify_builder_content-511 .tb_gduk253.module_row h2,.themify_builder_content-511 .tb_gduk253.module_row h3:not(.module-title),.themify_builder_content-511 .tb_gduk253.module_row h4,.themify_builder_content-511 .tb_gduk253.module_row h5,.themify_builder_content-511 .tb_gduk253.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_nxg0158.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_vtn6255.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_jslz57.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_jslz57.module_row,.themify_builder_content-511 .tb_jslz57.module_row p,.themify_builder_content-511 .tb_jslz57.module_row h1,.themify_builder_content-511 .tb_jslz57.module_row h2,.themify_builder_content-511 .tb_jslz57.module_row h3:not(.module-title),.themify_builder_content-511 .tb_jslz57.module_row h4,.themify_builder_content-511 .tb_jslz57.module_row h5,.themify_builder_content-511 .tb_jslz57.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_ihxs255.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_gtwn59.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_t1zn697.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_t1zn697.module_row,.themify_builder_content-511 .tb_t1zn697.module_row p,.themify_builder_content-511 .tb_t1zn697.module_row h1,.themify_builder_content-511 .tb_t1zn697.module_row h2,.themify_builder_content-511 .tb_t1zn697.module_row h3:not(.module-title),.themify_builder_content-511 .tb_t1zn697.module_row h4,.themify_builder_content-511 .tb_t1zn697.module_row h5,.themify_builder_content-511 .tb_t1zn697.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_byh859.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_d67y699.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_28rc384.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_28rc384.module_row,.themify_builder_content-511 .tb_28rc384.module_row p,.themify_builder_content-511 .tb_28rc384.module_row h1,.themify_builder_content-511 .tb_28rc384.module_row h2,.themify_builder_content-511 .tb_28rc384.module_row h3:not(.module-title),.themify_builder_content-511 .tb_28rc384.module_row h4,.themify_builder_content-511 .tb_28rc384.module_row h5,.themify_builder_content-511 .tb_28rc384.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_7461699.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_cglq385.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_sbqs333.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_sbqs333.module_row,.themify_builder_content-511 .tb_sbqs333.module_row p,.themify_builder_content-511 .tb_sbqs333.module_row h1,.themify_builder_content-511 .tb_sbqs333.module_row h2,.themify_builder_content-511 .tb_sbqs333.module_row h3:not(.module-title),.themify_builder_content-511 .tb_sbqs333.module_row h4,.themify_builder_content-511 .tb_sbqs333.module_row h5,.themify_builder_content-511 .tb_sbqs333.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_vwlq385.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_zh3w335.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_4802138.module_row{background-color:rgba(23, 23, 23, 1);}
.themify_builder_content-511 .tb_4802138.module_row,.themify_builder_content-511 .tb_4802138.module_row p,.themify_builder_content-511 .tb_4802138.module_row h1,.themify_builder_content-511 .tb_4802138.module_row h2,.themify_builder_content-511 .tb_4802138.module_row h3:not(.module-title),.themify_builder_content-511 .tb_4802138.module_row h4,.themify_builder_content-511 .tb_4802138.module_row h5,.themify_builder_content-511 .tb_4802138.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_7c3x335.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_fx2d140.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_rc6n592.module_row{background-color:rgba(23, 23, 23, 1);padding-bottom:5%;}
.themify_builder_content-511 .tb_rc6n592.module_row,.themify_builder_content-511 .tb_rc6n592.module_row p,.themify_builder_content-511 .tb_rc6n592.module_row h1,.themify_builder_content-511 .tb_rc6n592.module_row h2,.themify_builder_content-511 .tb_rc6n592.module_row h3:not(.module-title),.themify_builder_content-511 .tb_rc6n592.module_row h4,.themify_builder_content-511 .tb_rc6n592.module_row h5,.themify_builder_content-511 .tb_rc6n592.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_f28j140.module-image{margin-top:10px;}
.themify_builder_content-511 .tb_ppqc594.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-511 .tb_uzsl157.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}
