/* Generated from page: about-discover-film */
.themify_builder_content-26 .tb_jzvv359.module_row{padding-top:86px;background-color:rgba(23, 23, 23, 1);padding-bottom:113px;}
.themify_builder_content-26 .tb_dkp023.module-text{margin-bottom:51px;}
.themify_builder_content-26 .tb_1mje617.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}

@media screen and (max-width:680px){
.themify_builder_content-26 .tb_jzvv359.module_row{padding-bottom:35px;padding-top:35px;}
.themify_builder_content-26 .tb_1mje617.module_row{padding-bottom:35px;padding-top:35px;}
.themify_builder_content-26 .tb_5xfu566.module-plain-text{width:100%;}
}/*Builder Custom CSS START*/
.navbar-wrapper { 
	margin-top: 0 
}

.btn-about a.btn-link {
	display: inline;
	width: 100%;
	padding: 9px 42px;
}

#mobile-menu {
   padding: 10px 0;
}

#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}

#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}

.sma-title-page h1 {
    margin: 0;
}

.footer-right-wrap .footer-text {
    padding: 0;
}
/*Builder Custom CSS END*/