/* Generated from tbuilder_layout_part: start-project-now */
/*Builder GLOBAL CSS START*/
.themify_builder_content-11 .tb_lt1r407.module_column{box-shadow:1px 1px 10px 0px rgba(209, 226, 255, 0.61);background-color:rgba(255, 255, 255, 1);}
.themify_builder_content-11 .tb_lt1r407.module_column,.themify_builder_content-11 .tb_lt1r407.module_column>.builder_row_cover::before,.themify_builder_content-11 .tb_lt1r407.module_column>.ms-tableCell>.builder_row_cover::before{border-radius:10px;}
/*Builder GLOBAL CSS END*/
.themify_builder_content-11 .tb_0xel407.module_row{padding-bottom:4%;padding-top:4%;}
.themify_builder_content-11 .tb_lt1r407.module_column{background-position:right center;background-attachment:scroll;background-repeat:no-repeat;background-image:url(https://themify.me/demo/themes/ultra-agency3/files/2019/06/spiral-1.png);padding-top:1px;}
.themify_builder_content-11 .tb_ir2n407.module_subrow{padding-top:8%;padding-left:5%;padding-bottom:8%;padding-right:5%;}
.themify_builder_content-11 .tb_mziw407.module_column{text-align:right;}

@media screen and (max-width:768px){
.themify_builder_content-11 .tb_vg6o407.module_column{text-align:center;}
.themify_builder_content-11 .tb_9yau407.module-text{margin-bottom:10px;}
}