/* Generated from page: partners */
.themify_builder_content-417 .tb_3ndl920.module_row{padding:6%;background-color:rgba(255, 255, 255, 1);}
.themify_builder_content-417 .tb_3ndl920.module_row,.themify_builder_content-417 .tb_3ndl920.module_row p,.themify_builder_content-417 .tb_3ndl920.module_row h1,.themify_builder_content-417 .tb_3ndl920.module_row h2,.themify_builder_content-417 .tb_3ndl920.module_row h3:not(.module-title),.themify_builder_content-417 .tb_3ndl920.module_row h4,.themify_builder_content-417 .tb_3ndl920.module_row h5,.themify_builder_content-417 .tb_3ndl920.module_row h6{color:rgba(0, 0, 0, 1);}
.themify_builder_content-417 .tb_ehbq225.module-buttons i,.themify_builder_content-417 .tb_ehbq225.module-buttons span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item:hover i,.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item:hover span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item:hover i:hover,.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item:hover span:hover{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item a:hover{background-color:rgba(255, 255, 255, 1);background-image:none;}
.themify_builder_content-417 .tb_ehbq225.module-buttons .module-buttons-item a{padding:10px;}
.themify_builder_content-417 .tb_ehbq225.module-buttons{padding:0px;mix-blend-mode:normal;}
.themify_builder_content-417 .tb_ehbq225.module-buttons:hover{mix-blend-mode:normal;}
.themify_builder_content-417 .tb_guk1920.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding:5%;}
/*Builder Custom CSS START*/
.btn-ticket2 span{
    border: solid 0.5px #000;
border-radius: 22px;
padding: 8px 27px;
}
.btn-ticket2 .builder_button span:hover {
    color: #000;
    font-weight: bold;
}
.navbar-wrapper { 
	margin-top: 0 
}
#mobile-menu {
   padding: 10px 0;
}
#main-nav-wrap .main-nav .menu-item a {
    margin: 0;
}
#main-nav-wrap .main-nav .btn-signup a {
    padding: 3px 22px;
}
/*Builder Custom CSS END*/