/* Generated from tbuilder_layout_part: optin-form */
.themify_builder_content-10 .tb_z5jt407.module-optin input{border:1px solid rgba(1, 201, 156, 1);}
.themify_builder_content-10 .tb_z5jt407.module-optin .tb_optin_submit button{color:rgba(1, 201, 156, 1);background-color:rgba(255, 255, 255, 0.00);}
