/* Generated from page: our-team */
.themify_builder_content-571 .tb_z798210.module_row{background-color:rgba(23, 23, 23, 1);padding-bottom:1%;padding-top:5%;}
.themify_builder_content-571 .tb_z798210.module_row,.themify_builder_content-571 .tb_z798210.module_row p,.themify_builder_content-571 .tb_z798210.module_row h1,.themify_builder_content-571 .tb_z798210.module_row h2,.themify_builder_content-571 .tb_z798210.module_row h3:not(.module-title),.themify_builder_content-571 .tb_z798210.module_row h4,.themify_builder_content-571 .tb_z798210.module_row h5,.themify_builder_content-571 .tb_z798210.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_klfp211.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding:1%;}
.themify_builder_content-571 .tb_klfp211.module_row,.themify_builder_content-571 .tb_klfp211.module_row p,.themify_builder_content-571 .tb_klfp211.module_row h1,.themify_builder_content-571 .tb_klfp211.module_row h2,.themify_builder_content-571 .tb_klfp211.module_row h3:not(.module-title),.themify_builder_content-571 .tb_klfp211.module_row h4,.themify_builder_content-571 .tb_klfp211.module_row h5,.themify_builder_content-571 .tb_klfp211.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_goq2219.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_rljv111.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding:1%;}
.themify_builder_content-571 .tb_rljv111.module_row,.themify_builder_content-571 .tb_rljv111.module_row p,.themify_builder_content-571 .tb_rljv111.module_row h1,.themify_builder_content-571 .tb_rljv111.module_row h2,.themify_builder_content-571 .tb_rljv111.module_row h3:not(.module-title),.themify_builder_content-571 .tb_rljv111.module_row h4,.themify_builder_content-571 .tb_rljv111.module_row h5,.themify_builder_content-571 .tb_rljv111.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_8cpn113.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_cz7u365.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding:1%;}
.themify_builder_content-571 .tb_cz7u365.module_row,.themify_builder_content-571 .tb_cz7u365.module_row p,.themify_builder_content-571 .tb_cz7u365.module_row h1,.themify_builder_content-571 .tb_cz7u365.module_row h2,.themify_builder_content-571 .tb_cz7u365.module_row h3:not(.module-title),.themify_builder_content-571 .tb_cz7u365.module_row h4,.themify_builder_content-571 .tb_cz7u365.module_row h5,.themify_builder_content-571 .tb_cz7u365.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_3umm450.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_gczn450.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding:1%;}
.themify_builder_content-571 .tb_gczn450.module_row,.themify_builder_content-571 .tb_gczn450.module_row p,.themify_builder_content-571 .tb_gczn450.module_row h1,.themify_builder_content-571 .tb_gczn450.module_row h2,.themify_builder_content-571 .tb_gczn450.module_row h3:not(.module-title),.themify_builder_content-571 .tb_gczn450.module_row h4,.themify_builder_content-571 .tb_gczn450.module_row h5,.themify_builder_content-571 .tb_gczn450.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_cd3z454.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_q82k917.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding:1%;}
.themify_builder_content-571 .tb_q82k917.module_row,.themify_builder_content-571 .tb_q82k917.module_row p,.themify_builder_content-571 .tb_q82k917.module_row h1,.themify_builder_content-571 .tb_q82k917.module_row h2,.themify_builder_content-571 .tb_q82k917.module_row h3:not(.module-title),.themify_builder_content-571 .tb_q82k917.module_row h4,.themify_builder_content-571 .tb_q82k917.module_row h5,.themify_builder_content-571 .tb_q82k917.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_4v96920.module-plain-text{border-bottom:1px solid rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_mbft844.module_row{background-color:rgba(23, 23, 23, 1);border-bottom:none;border-bottom-style:none;padding-top:1%;padding-bottom:4%;}
.themify_builder_content-571 .tb_mbft844.module_row,.themify_builder_content-571 .tb_mbft844.module_row p,.themify_builder_content-571 .tb_mbft844.module_row h1,.themify_builder_content-571 .tb_mbft844.module_row h2,.themify_builder_content-571 .tb_mbft844.module_row h3:not(.module-title),.themify_builder_content-571 .tb_mbft844.module_row h4,.themify_builder_content-571 .tb_mbft844.module_row h5,.themify_builder_content-571 .tb_mbft844.module_row h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-571 .tb_xyxr211.module_row{background-image:linear-gradient(180deg,rgb(247, 107, 28) 0%,rgb(243, 134, 31) 96%);padding-top:5%;padding-bottom:5%;}
